.nav-link{
	color: #fde8cd;
	font-size: 20px;
	font-stretch: expanded;
	
}
.nav-link :hover{
	color: #f58634;
}
.nav-item{
	font-family: 'Prata', serif;
	
	}

.carousel-item {
	height: 80vh;
	min-height: 100px;
}

.footer {
    position: fixed;
    left: 0;
    bottom: 0;
    width: 100%;
    background-color : black;
    color: white;
    text-align: center;
 }

.carousel-caption {
	bottom: 220px;
}
.carousel-caption h5 {
	font-size: 45px;
	text-transform: uppercase;
	letter-spacing: 2px;
	margin-top: 25px;
	font-family: merienda;
}
.carousel-caption p {
	width: 60%;
	margin: auto;
	font-size: 18px;
	line-height: 1.9;
	font-family: poppins;
}
.carousel-caption a {
	text-transform: uppercase;
	background: #fffbdf;
	padding: 10px 30px;
	display: inline-block;
	color: #fff;
	margin-top: 15px;
}
.navbar-nav a {
	font-family: 'Prata', serif;
	font-size: 18px;
}
.navbar-light .navbar-brand {
	color: #fffbdf;
	font-size: 25px;
	letter-spacing: 2px;
}
.navbar-light .navbar-nav .active>.nav-link, .navbar-light .navbar-nav .nav-link.active, .navbar-light .navbar-nav .nav-link.show, .navbar-light .navbar-nav .show>.nav-link {
	color: #fff;
}
.navbar-light .navbar-nav .nav-link {
	color: #fff;
}
.navbar-nav {
	text-align: center;
}
.nav-link {
	padding: .2rem 1rem;
}
.nav-link.active, .nav-link:focus {
	color: rgb(250, 250, 250);
}
.navbar-toggler {
	padding: 1px 5px;
	font-size: 18px;
	line-height: 0.3;
	background: #fff;
}
.navbar-light .navbar-nav .nav-link:focus, .navbar-light .navbar-nav .nav-link:hover {
	color: #fff;
}
.w-100 {
	height: 100vh;
}
@media only screen and (max-width: 767px) {
	.navbar-nav.ml-auto {
		background:#fffbdf;
	}
	.navbar-nav a {
		font-size: 14px;
		font-weight: normal;
	}
}

.inner-container{
    width: 55%;
    float: right;
    background-color: #fdfdfd;
    padding: 150px;
}
@media screen and (max-width:1200px){
    .inner-container{
        padding: 80px;
    }
}

@media screen and (max-width:1000px){
    .card-body{
        background-size: 100%;
        padding: 200px 40px;
    }
    .inner-container{
        width: 100%;
    }
}

@media screen and (max-width:600px){
    .card-body{
        padding: 0;
    }
    .inner-container{
        padding: 60px;
    }
}
.card-img-top{
	height: 80%;
}
.a .my-5{
	margin-bottom: 0px;
}
.body{
	margin-bottom: 0px;
}

.navbar-cus{
	font-family:  'Dancing Script', cursive;
}
.btn{
color: #fdfdfd;
}
.nav-item{
	color: black;
}
.card-header{
	background-color: #006a71;
	
	text-align: center;
	color: #ffffdd;
	font-size: 100px;
	font-weight: 400;
	font-family: 'Girassol', cursive;
}
.card-img-top{
	width: 100%;
	height: 15vw;
	object-fit: cover;
}
.card-body1{
	font-family: 'Great Vibes', cursive;
	width: 100%;
	/* font-size: 100px; */
	background-color: #52734d;
	color: #feffde;
	text-align: center;
	padding-top: 20px;
}
/* .carousel-control-prev,.carousel-control-next{
      
} */
#logo{
	width: 10em;
	height: 80%;
	border-radius: 10px;
	padding-top: 0;
}
hr{
	border-style: dotted none none ;
	width: 10%;
	border-color: grey;
	border-width: 7px;
	margin-top: 15px;
	margin-bottom: 40px;
  }
  .abc{
	  color:#3a6351;
	  font-size: 20px;
	  font-weight: bolder;
  }
  .navbar-brand :hover{
	  color: #f7ea00;
  }
  
  .prev-col{
	 height: 20px;
	  
     background-color: black;
  }

  #navbar11{
	background-color: #00917c;
	 padding:20px 0px; 
	 padding-left: 20px;
	
  }
  #heading{
	color: #3a6351;
	font-family: 'Prata', serif;
  }
  #infra{
	  margin-top: 150px;
  }

  #about
  {
	  align-items: center;
  }
  ::placeholder{
	  color: white;
	  opacity: 1;
  }


/*
code for scrollbars 
*/

::-webkit-scrollbar {
	width: 10px;
  }
  
  /* Track */
  ::-webkit-scrollbar-track {
	background: #f1f1f1; 
  }
   
  /* Handle */
  ::-webkit-scrollbar-thumb {
	background: #888; 
  }
  
  /* Handle on hover */
  ::-webkit-scrollbar-thumb:hover {
	background: #555; 
  }